*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}


body{
    background-color: hsl(185, 41%, 84%);
}

.calculator-container{
    background-color: hsl(0, 0%, 100%);
    width: 70%;
    margin: auto;
    position: relative;
    top: 50%;
    display: flex;
    transform: translate(0, 30%);
    border-radius: 20px;
    padding: 1rem;
}

.logo{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%)
}

.calculator-container .left{
    flex: 50%;
    margin: 2rem;
}

.calculator-container .right{
    flex: 50%;
    margin: 2rem;
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    border-radius: 20px;
    padding: 3rem;
}

.calculator-container .left > div{
    margin-top: 2rem;
}

.calculator-container .left div:nth-child(1){
    margin-top: 0rem;
}

.calculator-container .left p{
    padding-bottom: 0.5rem;
    color: hsl(183, 100%, 15%);
    font-weight: 400;
    letter-spacing: 1px;
}

.calculator-container .left .bill-amount input,
.calculator-container .left .people input{
    border: 2px solid hsl(189, 41%, 97%);
    outline: none;
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    position: relative;
    width: 100%;
    height: auto;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 50px;
    font-weight: 700;
    box-shadow: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
}

.calculator-container .left .bill-amount input:hover,
.calculator-container .left .people input:hover,
.calculator-container .left .bill-amount input:focus,
.calculator-container .left .people input:focus,
.calculator-container .left .select-tip div input:hover,
.calculator-container .left .select-tip div input:focus{
    border: 2px solid  hsl(172, 67%, 45%);
}



.calculator__tip-percent-container{
    border: none;
    margin-top: 2rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
legend{
    margin-bottom: 1rem;
}

 input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .calculator__tip-percent-container label {
    width: 7.5rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 24px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

  }
  
  .calculator__tip-percent-container label:hover {
    background-color: hsl(172, 67%, 45%);
  }
  
  .calculator__tip-percent-container input[type="radio"]:focus + label {
      background-color: hsl(172, 67%, 45%)
  }
  
  .calculator__tip-percent-container input[type="radio"]:checked + label {
     background-color: hsl(172, 67%, 45%);
  }
  
  .calculator__tip-percent--input{
    width: 7.5rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 24px;
    color: hsl(183, 100%, 15%);
    border: 2px solid hsl(189, 41%, 97%);
    outline: none;
    text-align: center;
    font-weight: 700;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
  }

  .calculator__tip-percent--input:hover,
  .calculator__tip-percent--input:focus{
      border: hsl(172, 67%, 45%) 2px solid;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.calculator-container .left .bill-amount .bill-input,
.calculator-container .left .people .people-input{
    position: relative;
}
.calculator-container .left .bill-amount #icon,
.calculator-container .left .people #icon{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);

}


.people-main{
    display: flex;
    justify-content: space-between;
}

.people-main .errormsg{
    display: none;
}

.people-main .errormsg.error{
    display: block;
}

.calculator-container .right .inner-container{
    height: 100%;
    position: relative;
}   

.calculator-container .right .inner-container div:nth-child(2){
    margin-top: 3rem;
}   

.calculator-container .right .inner-container p{
    font-weight: 600;
}

.calculator-container .right .span-text{
    transform: scale(1);
    color:  hsl(172, 67%, 45%);
}

.calculator-container .right .inner-container #dollar,
.calculator-container .right .inner-container #dollar{
    font-size: 40px;
    font-weight: 700;
    color:  hsl(172, 67%, 45%);
}


.calculator-container .right .tip-amount,
.calculator-container .right .total-amount{
    display: flex;
    justify-content: space-between;
    
}

.calculator-container .right .reset-btn button{
   bottom: 0;
   width: 100%;
   position: absolute;
   background-color:  hsl(172, 67%, 45%);
   padding: 0.5rem 1rem ;
   border: none;
   outline: none;
   border-radius: 10px;
   font-size: 24px;
   text-transform: uppercase;
}


@media screen and (max-width: 375px) , (max-width: 768px) {

    .calculator-container {
      flex-direction: column;
      width: 100%;
        padding: 0.5rem;
    }

    .calculator-container .left {
        flex: 50%;
        margin: 1rem;
    }

    .container label {
        width: 44%;
    }
    
    .calculator-container .right {
        margin: 0.5rem;
        padding: 1.5rem;
    }
    
    .calculator-container .right .reset-btn button{
        bottom: 0;
        width: 100%;
        margin-top: 2rem;
        position: relative;
        background-color:  hsl(172, 67%, 45%);
        padding: 0.5rem 1rem ;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 24px;
        text-transform: uppercase;
     }
    

}