*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-size: 15px;

}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


nav{
   
    background-color: transparent;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    height: 3rem;
}

.humburger{
    z-index: 2;
    position: absolute;
    right: 2rem;
    top: 3rem;
    transform: translate(0, -0.5rem);
    opacity: 0;
}

.humburger .close{
    opacity: 0;
}


.logo{
    z-index: 5;
    max-width: 50%;
    height: 100%;
    padding-top: 2rem;
}


.menu{
    position: absolute;
    top: 2.5rem;
    right: 0;
}


.nav-links{
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.nav-links li{
    text-decoration: none;
    list-style: none;
    position: relative;
    padding-left: 2rem;
}

.nav-links li:hover::after{
    content: '';
    background: #fff;
    position: absolute;
    width: 20px;
    height: 2px;
    bottom: -8px;
    left: 50%;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Alata', sans-serif;
}

.hero{
    width: 100%;
    margin-top: -5rem;
    height: 90vh;

}

.hero img{
    width: 100%;
    height: 100%;
}

.hero .heroInnerText{
    position: absolute;
    top: 50%;
    left: 9.5rem;
    transform: translate(0, -50%);
    width: 50%;
    height: fit-content;
}

.hero .heroInnerText h3{
    color: hsl(0, 0%, 100%);
    border: 2px solid #fff;
    padding: 3rem;
    font-size: 75px;
    text-transform: uppercase;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    line-height: 6rem;
}


.mainSection{
    margin: 0 auto;
    max-width: 80%;
}

.mainContainer{
    width: 100%;
    margin-top: 8rem;
    display: flex;
}

.mainContainer .mainImg{
    flex: 70%;
}

.mainContainer .mainImg img{
    width: 100%;
}

.mainContainer .mainText{
    flex: 50%;
    padding: 6rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    margin-left: -12rem;
    z-index: 9;
    width: 100%;
    height: fit-content;
    margin-top: auto;
    background-color: hsl(0, 0%, 100%);
}

.mainContainer .mainText h3{
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.mainContainer .mainText p{
    font-family: 'Alata', sans-serif;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    margin-top: 2rem;
    color: hsl(0, 0%, 55%);
    font-weight: 400;
}

.section2{
    margin-top: 8rem;
    
}

.section2Title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    height: 100%;
    align-items: center;
}

.section2 .section2Title h1{
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 3rem;
}
.section2 .seeAllBtn {
    padding: 0.5rem 2.5rem;
    border: 1px solid hsl(0, 0%, 0%);
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.gridContainer .seeAllBtn2 {
    padding: 0.5rem 2rem;
    border: 1px solid hsl(0, 0%, 0%);
    text-decoration: none;
    margin: 0 auto;
    width: 50%;
    color: hsl(0, 0%, 0%);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: none;
}

.section2 .seeAllBtn:hover, .section2 .seeAllBtn:focus {
    background-color: hsl(0, 0%, 0%);
    color:  hsl(0, 0%, 100%);
}


.gridContainer.mobile{
    display: none;
}

.gridContainer{

    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 20rem;
}

.gridItem {
    position: relative;
    cursor: pointer;
    
}

.gridItem img:hover ~ p{
    color:  hsl(0, 0%, 0%);
}

.gridItem img:hover {
    opacity: 0.5;
}


.gridItem p{
    position: absolute;
    color:  hsl(0, 0%, 100%);
    z-index: 99;
    bottom: 0.5rem;
    padding: 2.5rem;
    text-transform: uppercase;
    width: 80%;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}

footer{
    background-color: hsl(0, 0%, 0%);
    
}

.footerItems{
    margin: 0 auto;
    width: 80%;
    padding-top: 3rem;
}

.FooterLogo{
    display: flex;
    justify-content: space-between;
}

.socialLinks a{
    padding-left: 1rem;
    text-decoration: none;
    position: relative;
}

.socialLinks a:hover::after{
    content: '';
    background: #fff;
    position: absolute;
    width: 20px;
    height: 2px;
    bottom: -8px;
    left: 50%;
}

.footerMenu{ 
    padding: 2rem 0rem 3rem 0rem;
    display: flex;
    justify-content: space-between;
}

.footerMenu .footerMenuLinks{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.footerMenu .footerMenuLinks li:hover::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 30px;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}


.footerMenu .footerMenuLinks li{
    text-decoration: none;
    list-style: none;
    position: relative;
}

.footerMenu .footerMenuLinks a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Alata', sans-serif;
}

.footerMenu .copyright{
    color: hsl(0, 0%, 55%);
    font-family: 'Alata', sans-serif;
}

.socialLinks.mobile{
    display: none;
}


/* mobile */

@media screen and (max-width: 375px) , (max-width: 768px)   {

    nav{
        max-width: 100%;
    }


    .humburger{
        opacity: 1;
    }

    .menu{
        display: none;
        width: 100%;
        margin-top: -3rem;
        z-index: 1;
        background-color: #000;
    }

    .nav-links{
      flex-direction: column;
        margin-top: 50%;
        align-items: flex-start;
    }
    
    .nav-links li{
        padding-top: 2rem;
        font-size: 30px;
    }

    .nav-links li a{
        font-size: 30px;
        font-weight: 300;
    }

    .logo{
      position: absolute;
      left: 2rem;   
    }

    .menu.open{
        display: block;
        height: 100vh;
    }

    .humburger .lines.hide{
        display: none;
    }

    .humburger .close.show{
        opacity: 1;
    }

    .hero{
        overflow: hidden;
    }

    .hero img {
        width: auto;
        height: 100%;
        transform: translate(-40%);   
    }

    .hero .heroInnerText {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%,-50%);
        width: 100%;
        height: fit-content;
    }
    
    .hero .heroInnerText h3 {
        color: hsl(0, 0%, 100%);
        border: 2px solid #fff;
        padding: 1.5rem;
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: normal;
        line-height: 2.5rem
    }

    .mainContainer {
        width: 100%;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
    }
    .mainContainer img{
        width: 100%;
        
    }

    .mainContainer .mainText {
        width: 100%;
        padding: 1rem;
        padding-bottom: 0rem;
        padding-right: 0rem;
        margin-left: 0rem;
        text-align: center;
    }

    .mainContainer .mainText h3{
       font-size: 2rem;
    }

    .section2 {
        margin-top: 5rem;
    }
    
    
    .section2Title {
        display: block;
        text-align: center;
       
    }

    .section2 .section2Title h1 {
      
        font-size: 2rem;
    }

    .section2 .seeAllBtn {
      display: none;
    }

    .gridContainer.desktop{
        display: none;
    }

    .gridContainer.mobile{
        display: block;
    }

    .gridContainer{
        margin-bottom: 5rem;
    }

    .gridContainer .seeAllBtn2{
        display: block;
    }

    .gridItem {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }

    .gridItem img{
        width: 100%;
    }

    .gridItem p {
        position: absolute;
        color: hsl(0, 0%, 100%);
        z-index: 99;
        bottom: 0;
        padding: 1rem;
        text-transform: uppercase;
        width: 60%;
        font-size: 26px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: normal;
    }

    .FooterLogo {
        display: block;
        max-width: 100%;  
        text-align: center; 
    }


    .socialLinks.desktop{
        display: none;
    }

    .socialLinks.mobile{
       display: block;
       width: 100%;
       margin-top: 1rem;
    }

    .footerMenu .footerMenuLinks{
        flex-direction: column;
        width: 100%;
    }

    .footerMenu{ 
       display: block;
       text-align: center;
       height: 100%;
    }

    .footerMenu .footerMenuLinks li{
       margin-bottom: 1rem;
       position: relative;
    }

    .footerMenu .footerMenuLinks li:hover::after{
        content: "";
        position: absolute;
        background: #fff;
        width: 30px;
        height: 3px;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%);
    }

    
.footerMenu .copyright{
   margin: 1rem 0rem;
}
}