@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section .bg {
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

section .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

section img {
    position: absolute;
    width: 10rem;
    left: 30%;
}

section img.girl {
    bottom: -40px;
}